.wrapper {
    margin-top: 24px;
}

.crystal {
    margin: auto;
    height: 120px;
    width: 120px;
}

.crystalImage {
    height: 120px;
    width: 120px;
}

.crystalImage path { transition: fill 0.4s ease-in-out; }

.title {
    width: 120px;
    font-weight: 400;
    align-self: center;
    font-size: 24px;
    margin: 40px auto 0 auto;
    letter-spacing: 6px;
    text-align: center;
}


