.wrapper {
    color: #000000;
    margin: 0 auto;
    background-color: white;
    border-color: #ececec;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    outline: none;
    overflow: hidden;
    padding: 8px;
}

.inputContainer {
    display: flex;
    width: 100%;
}

.textInput {
    flex-basis: 100%;
    color: inherit;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    line-height: 1;
    min-height: 34px;
}

.searchIcon {
    margin: 0 16px 0 24px;
    display: flex;
    width: 16px;
    height: 16px;
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content:center;
}

.wrapperFocus {
    /*border-color: #3284e4;*/
    /*background-color: #f8fafd;*/
}

.wrapperDark {
    color: #ffffff;
    background-color: #232323;
    border-color: #181818;
    /*border-width: 0;*/
    box-shadow: none;
}

.tips {
    padding: 8px 12px;
}

.divider {
    border-top: 1px solid #3f3f3f;
    transition: all 0.2s ease-in-out;
    margin-bottom: 8px;
}

.dividerLight {
    border-color: #b0d0e8;
}

.iconTips {
    width: 16px;
    height: 16px;
    margin: 0 12px;
}

.tipItem {
    cursor: pointer;
    display: flex;
    background: transparent;
    color: #989898;
    padding: 12px 0;
    transition: background 0.2s ease-in-out;
    border-radius: 8px;
}

.tipItemLight {
    background: transparent;
    color: #181818;
}


.tipItem:hover {
    background: #2c2c2c;
}

.tipItemLight:hover {
    background: #f8fafd;
}
