.wrapper {
    display: grid;
    grid-template-columns: 12fr 4fr 2fr 2fr 1fr;
    grid-gap: 24px;
    margin: 10px auto;
    background: #ffffff;
    padding: 16px;
    line-height: 1.3;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.wrapperDark {
    background-color: #232323;
}

.center {

}
