.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.bodyLight {
  background: #ececec;
  color: #181818;
}

.bodyDark {
  background: #181818;
  color: #ececec;
}

.container {
  width: 900px;
  margin: 0 auto;
  position: relative;
}
